#drupal_ammap_slider_max{
    float: right;
}
#drupal_ammap_slider_min{
    float: left;
}
.drupal_ammap_clear {
    clear: both;
}
#drupal_ammap{
    height: 480px;
}
#drupal_ammap.no_map{
    height: auto;
}

#drupal_ammap > div > div:first-child {
    position: relative !important;
}